  
.paralax{
	background-attachment:fixed;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/*==============================================*/
/*================ Keyframes ===================*/
/*==============================================*/


@-webkit-keyframes fadeIn{
  from { opacity:0}
  to {opacity:1}
} 

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/*==============================================*/
/*============== Media queries =================*/
/*==============================================*/


@media only screen and (max-width: 640px){ //mobile

  header{
    h1{
      font-size: 2.75rem;
    }
  }

  .pointer{
    display: none;
  }
  .header_overlay{
    padding-top: 60px;
  }

}


@media only screen and (min-width: 641px) and (max-width: 960px) {//tablets and desktop
  .header_overlay{
    padding-top: 40px;
  }
}
